// ------------------------------------------------------------------------------ */
// colors
// ------------------------------------------------------------------------------ */

$flavor-like-color-dark-100 : #000;
$flavor-like-color-dark-90  : #333;
$flavor-like-color-dark-80  : #3D3D3D;
$flavor-like-color-dark-70  : #505050;
$flavor-like-color-dark-60  : #888;
$flavor-like-color-dark-50  : #AAA;
$flavor-like-color-dark-30  : #BBB;

$flavor-like-color-light    : #FFFFFF;
$flavor-like-color-light-95 : #FDFDFD;
$flavor-like-color-light-93 : #F9F9F9;
$flavor-like-color-light-90 : #F3F3F3;
$flavor-like-color-light-80 : #F1F1F1;
$flavor-like-color-light-70 : #EAEAEA;
$flavor-like-color-light-60 : #DEDEDE;
$flavor-like-color-light-50 : #CCCCCC;