
/**
 *  Logs Page
 */

 .flavor_like_logs {
    .button {
        line-height: 20px;
    }
    i{
        font-size: 1.9em;

        &.flavor-like-icons-thumb_up:before {
            color: #4caf50;
        }
        &.flavor-like-icons-thumb_down:before {
            color: #f44336;
        }
    }
}