
/**
 *	RTL support
 */

.rtl {
	form.flavor-like {
		p.submit {
			margin-right: inherit;
			margin-left: 20px;
		}
		.flavor-like-settings-tabs {
			h2 {
				float: right;
				border-right: 1px solid #e0e0e0;
				border-left: none;
			}
		}
	}
	form.wrap {
		.flavor-like-settings-tabs {
			h2 {
				&:last-child {
					border-left: 1px solid #ddd;
				}
			}
		}
	}
	tr.hide-label {
		td {
			padding-right: 0;
			padding-left: inherit !important;
		}
	}
	.flavor-like-about-page {
		.flavor-like-badge {
			right: inherit;
			left: 0px;
		}
	}
	.flavor-like-notice {

		.links {
			a {
				margin-right: 0;
				margin-left: 8px;
			}
		}

	}
	.flavor-like-notice-image {
		margin-left: 25px;
		margin-right: 0;
	}

	#adminmenu #toplevel_page_flavor-like-settings a[href*="page=flavor-like-go-pro"] {
		margin: 3px 10px 0;
	}

}
