.flavorlike {
    display: block;
    position: relative;
    line-height: normal;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    .flavor_like_general_class {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
    }

    button.flavor_like_btn{
        margin: 0;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: .25em;
        box-shadow: none;
        padding: 1em;
        font-size: 15px;
        border: none;
        text-align: center;
        transition: none;
        cursor: pointer;
        font-family: inherit;
        line-height: inherit;
        appearance: none;
        -webkit-appearance: none;
        width: auto;
        max-width: none;
        text-transform: none;
        letter-spacing: normal;
        font-weight: inherit;

        &:hover,
        &:active,
        &:focus {
            outline: none;
        }

        &::-moz-focus-inner {
            border: 0;
        }

        &[disabled=disabled],
        &:disabled {
            cursor: not-allowed;

            &:hover,
            &:active,
            &:focus {
                outline: none;
                background-color: initial;
            }
        }

        &.flavor_like_put_text {
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
            padding: 0 10px;
            min-width: 50px;
        }
    }

    .flavor_like_is_loading {
        button.flavor_like_btn{
            background-image: url(../img/svg/loader.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto;

            span {
                visibility: hidden;
            }

            &.flavor_like_put_image {
                &::after {
                    content: none;
                }
            }
        }
    }

    &.flavorlike-hide-counter {
        .count-box {
            display: none;
        }
    }

    .count-box {
        &:empty {
            display: none;
        }
    }

}

#buddypress #activity-stream {

    .activity-meta,
    .activity-comments,
    .activity-inner {
        .flavorlike {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .flavor_like_likers_wrapper {

        li,
        .flavor-like-liker {
            border: none;
            padding: 0;

            a,
            img {
                float: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

#bbpress-forums {

    .bbp-reply-content,
    .bbp-topic-content,
    .bbp-forum-content {

        .flavorlike {
            display: inline-block;
            vertical-align: middle;
        }

        .flavor_like_likers_wrapper {

            li,
            .flavor-like-liker {
                border: none;
                padding: 0;

                a,
                img {
                    float: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

.flavor_like_click_is_disabled {
    pointer-events: none;
    cursor: default;
}

.flavor_like_hide_me {
    visibility: hidden;
}